/*--------------------------------------------------------------
  3. Spacing
----------------------------------------------------------------*/
@for $i from 1 through 60 {
  .cs_mb_#{$i} {
    margin-bottom: $i + px;
  }
}
@media screen and (min-width: 992px) {
  @for $i from 1 through 150 {
    .cs_height_#{$i} {
      height: $i + px;
    }
  }
}

/* Tablet/mobile: slightly reduced section spacing */
@media screen and (max-width: 991px) {
  @for $i from 1 through 60 {
    .cs_mb_lg_#{$i} {
      margin-bottom: $i + px;
    }
  }
  @for $i from 1 through 150 {
    .cs_height_lg_#{$i} {
      $h: $i + px;
      @if $i > 50 {
        height: 50px;
      } @else {
        height: $h;
      }
    }
  }
}

/* Small mobile: tighter spacing */
@media screen and (max-width: 575px) {
  @for $i from 1 through 150 {
    .cs_height_lg_#{$i} {
      @if $i > 12 {
        height: max(16px, round($i * 0.4) * 1px);
      } @else {
        height: $i + px;
      }
    }
  }
}

