/*--------------------------------------------------------------
  3. Spacing
----------------------------------------------------------------*/
@for $i from 1 through 60 {
  .cs_mb_#{$i} {
    margin-bottom: $i + px;
  }
}
@media screen and (min-width: 992px) {
  @for $i from 1 through 150 {
    .cs_height_#{$i} {
      height: $i + px;
    }
  }
}

/* Tablet/mobile: slightly reduced section spacing */
@media screen and (max-width: 991px) {
  @for $i from 1 through 60 {
    .cs_mb_lg_#{$i} {
      margin-bottom: $i + px;
    }
  }
  @for $i from 1 through 150 {
    .cs_height_lg_#{$i} {
      $h: $i + px;
      height: if($i > 50, 50px, $h);
    }
  }
}

/* Small mobile: tighter spacing to reduce unused vertical space */
@media screen and (max-width: 575px) {
  @for $i from 1 through 150 {
    .cs_height_lg_#{$i} {
      $reduced: if($i > 12, max(16, round($i * 0.4)), $i);
      height: $reduced + px;
    }
  }
}
